#mainPopup {
  padding: 10px;
  height: 200px;
  width: 400px;
  font-family: Helvetica, Ubuntu, Arial, sans-serif;
}
h1 {
  font-size: 2em;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding: 60px 5px 5px;
}
@media (min-width: 600px) {
  body {
    padding: 60px;
  }
}

.range-slider {
  margin: 20px 0 20px;
}

.range-slider {
  width: 100%;
}

.range-slider__range {
  -webkit-appearance: none;
  width: calc(100% - (95px));
  height: 10px;
  border-radius: 5px;
  background: #d7dcdf;
  outline: none;
  padding: 0;
  margin: 0;
}
.range-slider__range::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #2c3e50;
  cursor: pointer;
  -webkit-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
}
.range-slider__range::-webkit-slider-thumb:hover {
  background: #1abc9c;
}
.range-slider__range:active::-webkit-slider-thumb {
  background: #1abc9c;
}
.range-slider__range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background: #2c3e50;
  cursor: pointer;
  -webkit-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
}
.range-slider__range::-moz-range-thumb:hover {
  background: #1abc9c;
}
.range-slider__range:active::-moz-range-thumb {
  background: #1abc9c;
}

.range-slider__value {
  display: inline-block;
  position: relative;
  width: 80px;
  color: #fff;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  background: #2c3e50;
  padding: 5px 10px;
  margin-left: 8px;
}
.range-slider__value:after {
  position: absolute;
  top: 8px;
  left: -7px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-right: 7px solid #2c3e50;
  border-bottom: 7px solid transparent;
  content: '';
}

::-moz-range-track {
  background: #d7dcdf;
  border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
  border: 0;
}

.paper-shadow {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.paper-toolbar {
  color: #fff;
  background: #3F51B5;
}

.app-bar, .navdrawer-container, main {
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}

.promote-layer {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.app-bar-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 64px;
  position: relative;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 0 auto;
}

.app-bar {
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 1;
  margin-bottom: 40px;
}

.app-bar .header-logo {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 1.3em;
  margin: 0 16px;
  padding: 0;
  color: #fefefe;
  float: none;
  max-width: none;
  font-weight: 400;
  line-height: 64px;
}

button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  border: 0;
  background: transparent;
  outline: 0;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
}
button .icon {
  position: relative;
  background: #1A237E;
  line-height: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
  color: #fff;
  font-size: 18px;
  -webkit-transition: .2s color;
  transition: .2s color;
  border-radius: 2px;
}
button .icon .fa {
  width: 30px;
  -webkit-transition: .2s all;
  transition: .2s all;
}
button .icon .fa-check {
  color: #38B87C;
}

button .icon:after {
  content: ' ';
  display: block;
  position: absolute;
  width: 5px;
  height: 5px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background: #311B92; /* the middle first dot */
  top: 12.5px;
  right: 1px;
  -webkit-transition: .2s right;
  transition: .2s right;
  z-index: 1;
}
button .sort-button-text {
  position: relative;
  width: 0;
  height: 30px;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  background: #00BBD3;
  text-align: center;
  line-height: 30px;
  color: #fff;
  font-weight: 300;
  -webkit-transition: .2s all;
  transition: .2s all;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
button .sort-button-text span {
  width: 100%;
  opacity: 0;
  position: absolute;
  top: -30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: .3s all;
  transition: .3s all;
}
button:hover .icon {
  color: #4DB6AC;
  border-radius: 0;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
button:hover .icon:after {
  right: -2px;
}
button:hover .sort-button-text {
  width: 120px;
}
button:hover .sort-button-text span {
  opacity: 1;
  top: 0;
}

button.done .icon {
  border-radius: 0;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
button.done .icon .fa {
  -webkit-transform: translateY(-60px);
          transform: translateY(-60px);
}
button.done .icon:after {
  right: -2px;
}
button.done .sort-button-text {
  background: #38B87C;
  width: 120px;
}
button.done .sort-button-text span {
  opacity: 1;
  top: 0;
}

@-webkit-keyframes fadeInZoom {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes fadeInZoom {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

hr {
    display: block;
    height: 0.5px;
    border: 0;
    border-top: 0.5px solid #CFD8DC;
    margin: 1em 0;
    padding: 0;
}

.fa.fa-magic, .fa.fa-sliders {
    color: #CE93D8
}

.section-title {
    color: #311B92
}
