<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Auto Closed History Page</title>
    <link rel="stylesheet" href="../../../angular-lib/angular-material/angular-material.css">
    <link rel="stylesheet" href="../../../angular-lib/angular-material/material.indigo-blue.min.css">
    <link rel="stylesheet" href="../../../angular-lib/angular-material/angular-material.css">
    <link rel="stylesheet" href="auto-closed-history.css">
</head>
<body ng-app="myApp" ng-controller="myAppController" ng-cloak>
	<md-toolbar layout="row" layout-align="center">
      <div class="md-toolbar-tools" flex-gt-md="60" flex-md="80" flex-sm="100">
          <span>Automatically Closed Tabs</span>
          <span flex></span>
      </div>
  </md-toolbar>
  <md-content layout-padding layout="row" layout-align="center">
      <div flex-gt-md="60" flex-md="80" flex-xs="100">
          <div  layout="row" layout-align="center start">
              <md-input-container md-no-float md-is-error="false" class="md-block flex-gt-xs flex-xs">
                  <input ng-model="tabUrl"
                         class="md-input"
                         ng-change="gridActions.filter()"
                         id="order"
                         placeholder="Search by Url"
                         filter-by="tabUrl"
                         filter-type="text"
                         aria-invalid="false">
              </md-input-container>
          </div>

          <div grid-data id='test' grid-options="gridOptions" grid-actions="gridActions">
              <div layout-gt-sm="row" layout-sm="column" layout-align="center">
                  <div flex-gt-sm="25" flex-sm="100" layout="row" layout-align="start center">
                      <span>{{filtered.length}} items total</span>
                  </div>
                  <div flex-gt-sm="75" flex-xs="100">
                      <div layout-xs="column" layout="row" layout-align-xs="end end" layout-align="end center">
                          <grid-pagination max-size="5"
                                           boundary-links="true"
                                           class="pagination mdl-shadow--2dp"
                                           ng-if="paginationOptions.totalItems  > paginationOptions.itemsPerPage"
                                           total-items="paginationOptions.totalItems"
                                           ng-model="paginationOptions.currentPage"
                                           ng-change="reloadGrid()"
                                           items-per-page="paginationOptions.itemsPerPage"></grid-pagination>
                          <md-input-container flex-offset-gt-xs="5" class="items-per-page">
                              <md-select ng-init="paginationOptions.itemsPerPage = '10'" ng-model="paginationOptions.itemsPerPage" ng-change="reloadGrid()">
                                  <md-option>10</md-option>
                                  <md-option>25</md-option>
                                  <md-option>50</md-option>
                                  <md-option>75</md-option>
                              </md-select>
                          </md-input-container>
                      </div>
                  </div>
              </div>
              <div>
                  <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
                      <thead>
                          <tr>
                              <th sortable="tabUrl" class="sortable mdl-data-table__cell--non-numeric">
                                  <span>Web Title</span>
                              </th>
                              <th sortable="tabTimeStampStr" class="sortable">
                                  <span>Date Time Closed</span>
                              </th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr grid-item ng-if="gridOptions.data">
                              <td id="title-and-domain" class="mdl-data-table__cell--non-numeric">
                                  <div class="website-icon" id="icon" style="background-image: url({{item.tabFavIconUrl}})"></div>
                                  <a href="{{item.tabUrl}}"><div ng-bind="item.tabTitle"></div></a>
                              </td>
                              <td ng-bind="item.tabTimeStampStr | date:'MM/dd/yyyy'"></td>
                          </tr>
                      </tbody>
                  </table>
              </div>
              <div layout-xs="column" layout="row" layout-align-xs="end end" layout-align="end center">
                  <grid-pagination max-size="5"
                                   boundary-links="true"
                                   class="pagination"
                                   ng-if="paginationOptions.totalItems  > paginationOptions.itemsPerPage"
                                   total-items="paginationOptions.totalItems"
                                   ng-model="paginationOptions.currentPage"
                                   ng-change="reloadGrid()"
                                   items-per-page="paginationOptions.itemsPerPage"></grid-pagination>
                  <md-input-container flex-offset-gt-xs="5" class="items-per-page">
                      <md-select ng-init="paginationOptions.itemsPerPage = '10'" ng-model="paginationOptions.itemsPerPage" ng-change="reloadGrid()">
                          <md-option>10</md-option>
                          <md-option>25</md-option>
                          <md-option>50</md-option>
                          <md-option>75</md-option>
                      </md-select>
                  </md-input-container>
              </div>
          </div>
      </div>
  </md-content>
</div>
</body>

<script src="../../../angular-lib/angular/angular.min.js"></script>
<script src="../../../angular-lib/angular-animate/angular-animate.min.js"></script>
<script src="../../../angular-lib/angular-aria/angular-aria.min.js"></script>
<script src="../../../angular-lib/angular-messages/angular-messages.min.js"></script>
<script src="../../../angular-lib/angular-material/angular-material.min.js"></script>

<script src="../../../angular-lib/angular-data-grid/pagination.js"></script>
<script src="../../../angular-lib/angular-data-grid/data-grid.js"></script>

<script src="auto-closed-history.js"></script>

</html>
