th:focus,
a:focus {
  outline: none;
}

.codepen-wrap {
  margin-top: 15px;
}

.mdl-data-table {
  width: 100%;
}

.mdl-data-table th {
  cursor: pointer;
}

.mdl-data-table tr {
  transition: none !important;
}

.titleUrl {
  white-space: normal;
}

.domain .dateTime{
  white-space: nowrap;
}

th md-select {
  margin: 0; }

.md-errors-spacer {
  display: none; }

ul.pagination {
  padding: 0;
  font-size: 0;
  display: inline-block;
}
.pagination > li {
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  border: 1px solid #ddd;
  border-left: 0;
}

.pagination > li:first-child {
  border-left: 1px solid #ddd;
  border-radius: 2px 0 0 2px;
}
.pagination > li:last-child {
  border-radius: 0 2px 2px 0;
}
.pagination a {
  color: #444;
  font-size: 13px;
  padding: 0 10px;
  line-height: 30px;
  display: inline-block;
  text-decoration: none;
}
.pagination .active {
  background: #3f51b5;
  border-color: #3f51b5;
}
.pagination .active a {
  color: #fff;
}
.pagination-page.active {
  background: #3f51b5;
}
.pagination-page.active a {
  color: #fff;
}

.material-icons, .sortable span:before, .sortable span:after {
  font-family: 'Material Icons';
  font-size: 18px;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.sortable span {
  position: relative;
}
.sortable span:before {
  content: 'arrow_drop_down';
  position: absolute;
  right: -18px;
  top: -2px;
}
.sortable span:after {
  content: 'arrow_drop_up';
  position: absolute;
  right: -18px;
  top: -9px;
}

.sortable.sort-ascent span:before {
  display: none;
}

.sortable.sort-ascent span:after {
  top: -5px;
}

.sortable.sort-descent span:before {
  top: -5px;
}

.sortable.sort-descent span:after {
  display: none;
}


#title-and-domain {
  /*align-items: center;
  overflow: hidden;*/
}
.website-icon {
  -webkit-margin-end: 16px;
  background-repeat: no-repeat;
  background-size: 16px;
  height: 16px;
  width: 16px;
  display: block;
}

/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v22/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
